<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Fast Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <script src="js/bootstrap.min.js"></script>
    <div class="jumbotron">
        <div class='text-center' class="text-center">
            <h1 class="display-3">Index Page</h1><br>
			<h3> You balance: {{balance}}</h3>
            <div class="container">
				<div class="row">
					<a class="col btn btn-primary btn-lg" href="/shop" role="button">Shop &raquo;</a>
					<a class="col btn btn-primary btn-lg" href="/exit" role="button">Exit &raquo;</a>
					<!-- <a class="col btn btn-primary btn-lg" href="/free" role="button">Secret page &raquo;</a> -->
				</div>
			</div>
		</div>
	</div>
	<center>
		<h3 class="display-4"> In our shop you can buy:</h3>
		<h3 class="display-5">Phone - 40 coins!</h3>
		<h3 class="display-5">testFlag - 50 coins!</h3>
		<h3 class="display-5">Dollar - 30 coins!</h3>
		<h3 class="display-5">Ruble - 10 coins!</h3>
		<h3 class="display-5">Flag - 500 coins!</h3>
	</center>
</body>
</html>
