<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Fast Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: max-content;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);

      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        display: flex;
        width: 350px;
        font-size: 16px;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .form-signin div{
        padding: 7px 9px;
        flex-direction: column;
      }
    </style>
</head>
<body>
    <script src="js/bootstrap.min.js"></script>
    <div class="jumbotron">
        <div class='text-center'>
            <h1 class="display-3">Register page</h1>
        </div>
    </div>
    <center>
        <form  class="form-signin" action="/register" method="POST">
        <br><br>
            <input class="form-check-label" placeholder="Login" type="text" name="login"><br>
            <input class="form-check-label" placeholder="Password" type="password" name="password"><br>
            <input class="btn btn-primary btn-lg" type="submit" value="Register"><br>

            <br>
                {% if error %}
                    <h2>Response: {{error}}</h2>
                {% endif %}

        </form>
    </center>
</body>
</html>
